*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

p{
    font-size: 30px;
    color: #333;
    padding: 10px;
    background-color: #eaeaea;
}
button{
    padding: 10px;
    border-radius: 12px;
    background-color: #f93f87;
    border: none;
    cursor: pointer;

}